[Unit]
Description=Borg Backup Timer
Requires=borg-backup.service

[Timer]
# Run daily at 2 AM
OnCalendar=02:00
Persistent=true
RandomizedDelaySec=15min

[Install]
WantedBy=timers.target
